<div class="wrapper_about">
  <h3>Our Story</h3>
  <div class="about">
    <div class="inner_about story">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime numquam eos dolorem odio veritatis. Magni modi fugit expedita harum tenetur neque accusantium dolorem qui, porro molestiae quod! Cumque dignissimos obcaecati quod est vero tempora ducimus deserunt nulla, cum accusantium, ullam doloremque atque commodi illo suscipit reiciendis, animi quia maxime. Voluptatem.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum pariatur officiis consequuntur corporis tempore ducimus, adipisci laudantium maxime eveniet expedita, maiores minus voluptatibus cum accusantium distinctio asperiores qui doloremque dicta quasi cupiditate, non inventore nesciunt omnis. Laboriosam itaque adipisci, doloremque a vel odit eum, facere accusantium, animi alias molestias enim?</p>
    </div>
    <div class="img">
      <img  src="../../../../assets/about-us/austin-distel-wawEfYdpkag-unsplash.jpg" alt="">
    </div>
  </div>
  <h3>Our Team</h3>
  <div class="about team">
    <div class="img"> <img src="../../../../assets/about-us/CORPO_WebsiteUpdate_MeetOurTeam_1280x600px.jpg" alt=""></div>
    <div class="inner_about">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, voluptatem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nulla error et repellendus voluptatibus dolorum iste, dignissimos neque ut. Earum nostrum tenetur, ipsa minus autem dicta. Quasi, itaque ipsam vel soluta, eaque architecto laboriosam, sunt placeat reprehenderit perspiciatis totam aperiam et aspernatur facere dicta esse corporis. Aspernatur animi eaque nisi.</p>
    </div>
  </div>
</div>
<footer>
    <div class="top">
      <div class="about">
        <div routerLink="/" class="logo">
            <i  class="fas fa-mouse"></i>
        </div>
        <div class="about_us">
          <p>About Us</p>
          <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, nobis!</div>
        </div>
        <div class="contact_us">
          <p>Contact Us</p>
          <div class="phone"><i class="fas fa-phone-volume"></i> : +380934782387</div>
          <div class="email"><i class="fas fa-envelope"></i> : some@email.com</div>
        </div>
      </div>
      <div class="information">
        <p>Information</p>
        <a routerLink="/about">About Us</a>
        <a routerLink="#">Events</a>
        <a routerLink="#">Blog</a>
      </div>
      <div class="links">
        <p>Helpful Links</p>
        <a routerLink="#">Services</a>
        <a routerLink="#">Supports</a>
        <a routerLink="#">Team</a>
        <a routerLink="#">Privacy Policy</a>
      </div>
      <div class="subscribe">
        <span>
          Subscribe more info
        </span>
        <input [(ngModel)]="footerEmail" placeholder="email" type="text">
        <button (click)="sendEmail()">Subscribe</button>
      </div>
    </div>
    <div class="down">
      <div class="social">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-google-plus"></i>
        <i class="fab fa-instagram-square"></i>
      </div>
      <div class="copirate">
        2020 &copy; Best Company. All Right Reserved
      </div>
    </div>
  </footer>
